@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");

// Color variables
$white: #ffffff;
$black: #000000;

$primary: #4090cb;
$success: #47bd9a;
$info: #06c2de;
$warning: #f9d570;
$danger: #ff4c3b;
$muted: #9ca8b3;
$dark: #0f1041;
$brand: #f47f20;

// Gray Colors
$gray-100: #f1f5fd;
$gray-200: #ebeef6;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #c7c7c7;
$gray-600: #616f80;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$bg-body: #fff;
$footTop-bg: #002541;
$footer-bg: #0f1041;

// Light Left Bar
$bannerBg: #f1f5fd;
$lightBg: #e5f7f8;

$lightBlue: #cce6f8;

$font-family: "Rubik", sans-serif;
$font-family-secondary: "Roboto", sans-serif;

$shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);

$base-font: 14px;

// Width variables
$width: 100%;

// Height variables
$height: 100%;
